<%- include('../partials/topbar'); %>
<div class="container-fluid">
  <div class="row">
    <%- include('../partials/sidebar'); %>
    <div class="col-sm-10 my-2 my-md-5 mx-auto d-flex flex-column align-items-center">
      <h1 class="my-3 fs-2 text-center">
        <%= title %>: <%= article?.title %> 
      </h1>
      <form method="POST" action="" class="p-3 w-75 border rounded">
        <div class="mb-3">
          <label for="categorySelect" class="mb-1 form-label">Category</label>
          <select class="form-select" id="categorySelect" name='category' multiple aria-label="Category" aria-describedby="categoryHelp">
            <% for (const category of category_list) { %>
              <option value="<%= category.id %>" <%= category.id === article?.category.toString() ? "selected" : "" %>><%= category.name %></option>
            <% } %>
          </select>
          <div class="d-flex justify-content-between">
            <div id="categoryHelp" class="form-text">Ctrl/Cmd+click to choose more than one category.</div>
            <a class="mt-1 btn btn-secondary btn-sm" href="/category/create" role="button">Create new category</a>
          </div>
        </div>
        <div class="mb-3">
          <label for="useCaseSelect" class="mb-1 form-label">Use Case</label>
          <select class="form-select" id="useCaseSelect" name="useCase" multiple aria-label="Use Case" aria-describedby="useCaseHelp">
            <% for (const useCase of useCases_list) { %>
              <option value="<%= useCase.id %>" <%= useCase.id === article?.useCase.toString() ? "selected" : "" %>><%= useCase.name %></option>
            <% } %>
          </select>
          <div class="d-flex justify-content-between">
            <div id="useCaseHelp" class="form-text">Ctrl/Cmd+click to choose more than one use case.</div>
            <a class="mt-1 btn btn-secondary btn-sm" href="/use-case/create" role="button">Create new use case</a>
          </div>
        </div>
        <div class="mb-3">
          <label for="titleInput" class="mb-1 form-label">Title</label>
          <input name="title" type="text" class="form-control" id="titleInput" required=true
            aria-describedby="titleHelp" value="<%=  article?.title || '' %>">
          <div id="titleHelp" class="form-text">Give the article a meaningful name.</div>
        </div>
        <div class="mb-3">
          <label for="descriptionInput" class="mb-1 form-label">Description</label>
          <textarea name="description" type="text" class="form-control" id="descriptionInput" required=true
            aria-describedby="descriptionHelp" value=<%= article?.description || '' %>><%= article?.description || '' %></textarea>
          <div id="descriptionHelp" class="form-text">Write a brief description of the article.</div>
        </div>
        <div class="mb-3">
          <label for="markdownInput" class="mb-1 form-label">Markdown</label>
          <textarea name="markdown" type="text" class="form-control" id="markdownInput" required=true
            aria-describedby="markdownHelp" rows="5" value=<%= article?.markdown || '' %>><%= article?.markdown || '' %></textarea>
          <div id="markdownHelp" class="form-text">
            Use markdown to write the article. You can learm about markdown <a href="https://www.markdownguide.org/basic-syntax/" target="_blank">here</a>.
          </div>
        </div>
        <% if (isUpdating) { %> 
          <div class="mb-3">
            <label for="passwordInput" class="mb-1 form-label">Admin Password</label>
            <input name="password" type="password" class="form-control" id="passwordInput" required=true
              aria-describedby="passwordHelp">
            <div id="passwordHelp" class="form-text">Enter your admin password.</div>
          </div>
        <% } %>
        <button type="submit" class="btn btn-primary"><%= isUpdating ? "Update Article" : "Create Article" %></button>
      </form>
      <div>
        <% if (errors) { %>
          <ul>
            <% errors.forEach(function(error) { %>
              <li><%= error %></li>
            <% })%>
          </ul>
          <p>Please, try it again.</p>
        <% }%>
      </div>
    </div>
  </div>
  <%- include('../partials/footer'); %>
</div>
