<%- include('../partials/topbar'); %>
<div class="container-fluid">
  <div class="row">
    <%- include('../partials/sidebar'); %>
    <div class="col-sm-10 mt-2 mt-md-5 mx-auto d-flex flex-column align-items-center">
      <h1 class="my-4 fs-2 text-center">
        <%= useCase.name %> 
      </h1>
      <h6 class="mb-1 ms-4 text-muted align-self-start">
        Description: 
      </h6>
      <p class="ms-4 align-self-start">
        <%= useCase.description %>
      </p>
      <div class="my-4 card w-75">
        <div class="card-header">
          Articles in <%= useCase.name %>
        </div>
        <ul class="list-group list-group-flush">
          <% for (const article of articles) { %>
            <li class="list-group-item">
              <a href=<%= '/articles/' + article.slug %>><%= article.title %></a>
            </li>
          <% } %>
        </ul>
      </div>
      <div class="mt-4 mb-2 btn-group btn-group-sm w-50 d-flex align-self-center">
        <a href=<%= useCase.slug + '/update' %> class="btn btn-outline-primary">Update Use Case</a>
        <a href=<%= useCase.slug + '/delete' %> class="btn btn-outline-danger">Delete Use Case</a>
      </div>
    </div>
  </div>
</div>
<%- include('../partials/footer'); %>
