<%- include('../partials/topbar'); %>
<div class="container-fluid">
  <div class="row">
    <%- include('../partials/sidebar'); %>
    <div class="col-sm-10 mt-2 mt-md-5 mx-auto d-flex flex-column align-items-center">
      <h1 class="my-3 fs-2 text-center"><%= title %></h1>
      <div class="list-group w-75">
        <% for (const useCase of useCases_list) { %>
          <a href="use-case/<%= useCase.slug %>" 
              class="list-group-item list-group-item-action"><%= useCase.name %></a>
        <% } %>
      </div>
    </div>
  </div>
</div>
<%- include('../partials/footer'); %>
